/* General Styles */
:root {
  --primary-color: #075E54;
  --secondary-color: #128C7E;
  --background-color: #ECE5DD;
  --white: #ffffff;
  --outgoing-message-background: #DCF8C6;
  --incoming-message-background: #ffffff;
  --text-color: #000000;
  --light-gray: #f0f0f0;
  --dark-gray: #a9a9a9;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.chat-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.chat-main {
  width: 100%;
  max-width: 400px; /* iPhone like width */
  height: 95%;
  max-height: 812px; /* iPhone X height */
  border-radius: 40px; /* Rounded corners for the phone */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 10px solid black;
  position: relative;
}

.chat-header {
  padding: 15px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.logout-button {
  background-color: transparent;
  color: var(--white);
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.my-message {
  align-items: flex-end;
}

.other-message {
  align-items: flex-start;
}

.message-content {
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 80%;
  position: relative;
}

.my-message .message-content {
  background-color: var(--outgoing-message-background);
}

.other-message .message-content {
  background-color: var(--incoming-message-background);
}

.message-meta {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.message p {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  word-wrap: break-word;
}

.message small {
    display: block;
    text-align: right;
    font-size: 0.75rem;
    color: var(--dark-gray);
    margin-top: 5px;
}

.message-form {
  padding: 10px;
  background-color: var(--light-gray);
}

.input-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px 10px;
}

.message-form input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
}

.message-form input:focus {
  outline: none;
}

.message-form button {
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.message-form button:hover {
  background-color: var(--primary-color);
}
